{% extends 'header.html.twig' %}

{% block content %}
<!--table border="1">


    <th>Id</th>
    <th>nom</th>
    <th>Description</th>
    <th>quantite</th>
    <th>prix</th>

        <tr>
            <td> { product.id } </td>
            <td> { product.nom } </td>
            <td> { product.quantite }} </td>
            <td>  </td>

            <td> <a href="{ path('update',{'id':product.id}) }"> modifier </a> </td>
            <td> <a href="{ path('delete',{'id':product.id}) }"> supprimer </a> </td>

        </tr>

</table !-->
    <div class="row">

            <input type="text" id="rech" name="rech">

    </div>
<div class="row" id="row">


</div>





{% endblock %}
{% block javascripts %}
 <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

    <script>

           $(document).ready( ()=> {
               $.ajax({
                   url:        '/produit/readjson' ,
                   type:       'GET',
                   dataType:   'json',
                   async:      true,

                   success: function(data, status) {

                       for(i = 0; i < data.length; i++) {
                           produit = data[i];
                           var e = $(" <div class=\"card-deck col-4\" style=\"margin-top: 15px\">\n" +
                               "            <div class=\"card\" >\n" +
                               "                <img src=\"/public/images/"+produit.image+"\" height=\"\" class=\"card-img-top\" alt=\"i\">\n" +
                               "                <div class=\"card-body\" >\n" +
                               "                    <h5 class=\"card-title\"> "+ produit.nom +" </h5>\n" +
                               "                    <p class=\"card-text\"><small class=\"text-muted\"> Quantité: "+produit.quantite +"</small></p>\n" +
                               "                    <p class=\"card-text\"><small class=\"text-muted\"> Prix: "+ produit.prix +" dt </small></p>\n" +
                               "                </div>\n" +
                               "\n" +
                               "                <div class=\"card-footer\">\n" +
                               "                    <a class=\"btn btn-primary\" href=\"/produit/update/"+produit.id+"\"> <i class=\"fas fa-edit\"></i></a>\n" +
                               "                    <a class=\"btn btn-danger\" href=\"/produit/delete/"+produit.id+"\" > <i class=\"fas fa-trash-alt\"></i> </a>\n" +
                               "\n" +
                               "                </div>\n" +
                               "            </div>\n" +
                               "        </div>");


                           $('#row').append(e);
                       }
                   },
                   error : function(xhr, textStatus, errorThrown) {
                       alert('Ajax request failed.');
                   }
               });
           });
            $("#rech").on("keyup", function(event){
                $.ajax({
                    url:        '/produit/readjson?rech=' + $("#rech").val(),
                    type:       'GET',
                    dataType:   'json',
                    async:      true,

                    success: function(data, status) {
                        document.getElementById('row').innerHTML = "";
                        for(i = 0; i < data.length; i++) {
                            produit = data[i];
                            var e = $(" <div class=\"card-deck col-4\" style=\"margin-top: 15px\">\n" +
                                "            <div class=\"card\" >\n" +
                                "                <img src=\"/public/images/"+produit.image+"\" height=\"\" class=\"card-img-top\" alt=\"i\">\n" +
                                "                <div class=\"card-body\" >\n" +
                                "                    <h5 class=\"card-title\"> "+ produit.nom +" </h5>\n" +
                                "                    <p class=\"card-text\"><small class=\"text-muted\"> Quantité: "+produit.quantite +"</small></p>\n" +
                                "                    <p class=\"card-text\"><small class=\"text-muted\"> Prix: "+ produit.prix +" dt </small></p>\n" +
                                "                </div>\n" +
                                "\n" +
                                "                <div class=\"card-footer\">\n" +
                                "                    <a class=\"btn btn-primary\" href=\"/produit/update/"+produit.id+"\"> Modifier </a>\n" +
                                "                    <a class=\"btn btn-danger\" href=\"/produit/delete/"+produit.id+"\" > Supprimer </a>\n" +
                                "\n" +
                                "                </div>\n" +
                                "            </div>\n" +
                                "        </div>");

                         ;
                            $('#row').append(e);
                        }
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                });
            });

    </script>
{% endblock %}
