{% extends 'base.html.twig' %}
{% block body %}
    <html>
    <head>
        <title>
            create
        </title>
    </head>
    <body>
    <center>
        <h1>Welcome to the User:create page</h1>
        {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" value="Ajouter" class="btn btn-success btn-icon-split">
        {{form_end(form)}}
    </center>
    </body>
    </html>
{% endblock %}

