******ali**********
<table>
    <tr>
        <td>{{ commande.id }}</td>
        <td>{{ commande.prixtotal }}</td>
        <td>{{ commande.etat }}</td>
        <td>{{ commande.client.nom }}</td>
    </tr>
</table>